.heading {
   color:black;
}

#date {
   font-size: 20px;
   padding-bottom: 10px;
}

#title {
   padding-left: 5px;
   text-align: center;
}
h2 {
   text-decoration: underline;
   margin-top: 10px;
   margin-bottom: 10px;
   margin-left: 0px;
   margin-right: 0px;
}


fieldset {
   padding: 1em 1em  1em 1em;
   margin: 20px 0px 20px 0px;
}

img {
   width:50vmax;
   max-width: 500px;
   border-style: double ;
   border-width: 5pt;
   border-radius: 2mm;
   border-color: hsla(191, 100%, 40%, 1);
}

textarea {
   min-width: 80%;
   height: 5em;
   padding-top: 1mm;
   padding-right: 1mm;
   padding-bottom: 1mm;
   padding-left: 1mm;
}

.entry {
   padding-top: 10px;
}

label {
   padding-right: 5px;
}

button {
   margin: auto;
}

form {
   display: flex;
   flex-direction: row;
   justify-content: center;
   flex-wrap: wrap;
}

footer {
   display: inline-block;
}

header {
   position: sticky;
   top: 0px;
   background-color: rgb(220, 220, 220);
}

#progress {
   display: grid;
   grid-template-columns: 100px 100px;
   grid-template-rows: 80px 80px 80px; 
   column-gap: 10px;
   row-gap: 15px; 
   place-items: center;
   justify-content: center;
}

button:hover {
   background-color:rgba(32, 77, 239, 0.741);
   color:bisque;
}

a:active {
   color:brown;;
}

@media (max-width: 1000px) {
   html, header {
      background-color:rgba(150,150,150);
   }
 }